<br\><br\><br\>
<br>
<br>
<br><%= form_with(model: etablissement, local: true) do |form| %>
  <% if etablissement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(etablissement.errors.count, "error") %> prohibited this etablissement from being saved:</h2>

      <ul>
      <% etablissement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group">
    <%= form.label :adresse %>
    <%= form.text_field :adresse, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :departement_id %>
    <%= form.collection_select(:departement_id, Departement.all, :id, :name,
                              {
                                #selected: blog.topic_id,
                                include_blank: true
                              },
                              class: 'form-control'
                            ) 
  %>
  </div>

  <div class="actions form-group">
    <%= form.submit class: 'btn btn-primary', value: 'Valider'%>
  </div>
<% end %>
