<p>
  <strong>Name:</strong>
  <%= @etablissement.name %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @etablissement.adresse %>
</p>

<p>
  <strong>Departement:</strong>
  <%= @etablissement.departement.name %>
</p>

<%= link_to 'Edit', edit_etablissement_path(@etablissement) %> |
<%= link_to 'Back', etablissements_path %>
