<div class="sidebar-module sidebar-module-inset">
      <h4>Configurer:</h4>
      <p><%= link_to "Les Pays", countries_path() %></p>
      <p><%= link_to "Les Regions", regions_path() %></p>
      <p><%= link_to "Les Departements", departements_path() %></p>
      <p><%= link_to "Les Etablissements", etablissements_path() %></p>
      <p><%= link_to "Les Auteurs", authors_path() %></p>
      <p><%= link_to "Les Niveau", niveaus_path() %></p>
      <p><%= link_to "Les Séries", seris_path() %></p>
      <p><%= link_to "Les Matiéres", matieres_path() %></p>
      <p><%= link_to "Les Profils", profils_path() %></p>
</div>