<div class="sidebar-module sidebar-module-inset">
      <% if logged_in?(:site_admin, :principale, :proviseur, :censeur) %>
            <h4>Ajouter:</h4>
      <% end %>
      <% if logged_in?(:site_admin) %>
            <p><%= link_to "Les Pays", countries_path() %></p>
      <% end %>

      <% if logged_in?(:site_admin) %>
            <p><%= link_to "Les Regions", regions_path() %></p>
      <% end %>

      <% if logged_in?(:site_admin) %>
            <p><%= link_to "Les Departements", departements_path() %></p>
      <% end %>

      <% if logged_in?(:site_admin) %>
            <p><%= link_to "Les Etablissements", etablissements_path() %></p>
      <% end %>

      <% if logged_in?(:site_admin) %>
            <p><%= link_to "Les Auteurs", authors_path() %></p>
      <% end %>

      <% if logged_in?(:site_admin, :censeur) %>
            <p><%= link_to "Les Niveau", niveaus_path() %></p>
      <% end %>

      <% if logged_in?(:site_admin, :censeur) %>
            <p><%= link_to "Les Filiére", filieres_path() %></p>
      <% end %>

      <% if logged_in?(:site_admin, :censeur) %>
            <p><%= link_to "Les Domaines", domaines_path() %></p>
      <% end %>

      <% #if logged_in?(:site_admin) %>
            <p><%#= link_to "Les Profils", profils_path() %></p>
      <% #end %>
</div>
