<div class="col-sm-8 blog-main">
  <%= form_with(model: filiere, local: true) do |form| %>
    <% if filiere.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(filiere.errors.count, "error") %> prohibited this filiere from being saved:</h2>

        <ul>
        <% filiere.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class:"form-control col-md-4" %>
    </div>

    <div class="form-group">
      <%= form.label :niveau_id %>
      <%= form.collection_select(:niveau_id, Niveau.all, :id, :name,
          {
            #selected: blog.topic_id,
            include_blank: true
          },
          class: 'form-control col-md-4'
        ) 
      %>
    </div>

    <div class="form-group">
      <%= form.submit class:"btn btn-primary" %>
    </div>
  <% end %>
</div>