<%= form_with(model: filiere, local: true) do |form| %>
  <% if filiere.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(filiere.errors.count, "error") %> prohibited this filiere from being saved:</h2>

      <ul>
      <% filiere.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control col-md-4" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
