<div class="col-sm-8 blog-main">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @filiere.name %>
  </p><p>
    <ul>
      <% @filiere.blogs.each do |blog|%>
      <li>
        <%= link_to blog.title, blog_path(blog)%>
      </li>
      <% end %>
    <ul>
  </p>

<%if logged_in?(:site_admin)%>
	<%= link_to 'Edit', edit_filiere_path(@filiere) %> |
	<%= link_to 'Back', filieres_path %>
<%end%>
</div>