<div class="col-sm-8 blog-main">
  <%= form_with(model: student, local: true) do |form| %>
    <% if student.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

        <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :nom %>
        <%= form.text_field :nom, class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= form.label :prenom %>
        <%= form.text_field :prenom, class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= form.label :cni %>
        <%= form.text_field :cni, class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= form.label :telephone %>
        <%= form.text_field :telephone, class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= form.label :numtable %>
        <%= form.text_field :numtable, class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= form.label :email %>
        <%= form.text_field :email, class: 'form-control'%>
      </div>

      <div class="actions">
        <%= form.submit class: 'form-control btn btn-primary', value:'Valider' %>
      </div>
    <% end %>
  </div>
</div>