<div class="col-sm-8 blog-main">
  <p id="notice"><%= notice %></p>

  <h1>Students</h1>

  <table>
    <thead>
      <tr>
        <th style="padding-right:1em;" >Nom</th>
        <th style="padding-right:1em;" >Prenom</th>
        <th style="padding-right:1em;" >CNI</th>
        <th style="padding-right:1em;" >Telephone</th>
        <th style="padding-right:1em;" >Numtable</th>
        <th style="padding-right:1em;" >Email</th>
        <th style="padding-right:1em;" >Etablissement</th>
        <th style="padding-right:1em;" >Niveau</th>
        <th style="padding-right:1em;" >Serie</th>
        <th style="padding-right:1em;" >Centre·Examen</th>
        <th style="padding-right:1em;" >Maths</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td style="padding-right:1.3em;"><%= student.nom %></td>
          <td style="padding-right:1.3em;"><%= student.prenom %></td>
          <td style="padding-right:1.3em;"><%= student.cni %></td>
          <td style="padding-right:1.3em;"><%= student.telephone %></td>
          <td style="padding-right:1.3em;"><%= student.numtable %></td>
          <td style="padding-right:1.3em;"><%= student.email %></td>
          <td style="padding-right:1.3em;"><%= student.etablissement.name %></td>
          <td style="padding-right:1.3em;"><%= student.niveau.name %></td>
          <td style="padding-right:1.3em;"><%= student.seri.name %></td>
          <td style="padding-right:1.3em;"><%= student.centre.numcentre %></td>
          <td style="padding-right:1.3em;">20</td>
          <td style="padding-right:1.3em;"><%= student.centre.numcentre %></td>
          <td style="padding-right:1.3em;"><%= link_to 'Show', student %></td>
          <td style="padding-right:1.3em;"><%= link_to 'Edit', edit_student_path(student) %></td>
          <td style="padding-right:1.3em;"><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Student', new_student_path %>
</div>