<%= form_with(model: domaine, local: true) do |form| %>
  <% if domaine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(domaine.errors.count, "error") %> prohibited this domaine from being saved:</h2>

      <ul>
      <% domaine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
