<div class="col-sm-8 blog-main">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Domaine:</strong>
    <%= @domaine.name %>
  </p>

  <p>
    <ul>
      <% @domaine.blogs.each do |blog|%>
      <li>
        <%= link_to blog.title, blog_path(blog)%>
      </li>
      <% end %>
    <ul>
  </p>

<%if logged_in?(:site_admin)%>
	<%= link_to 'Edit', edit_domaine_path(@domaine) %> |
  <%= link_to 'Back', domaines_path %>
<%end%>
</div>