<div class="col-sm-8 blog-main">
  <p id="notice"><%= notice %></p>

  <h1>Responszones</h1>

  <!-- SHOWING THE OUVRIERS -->
  <div class="col-sm-9 offset-sm-1">
      <% @responszones.each do |responszone| %>
        <div class="card text-center">  
          <div class="card-header">
          <span>Responsable de zone : <%= responszone.region.name %></span>
          </div>
          <div class="card-body">
            <h2 class="card-title"><%= %></h2>
            <p><%= image_tag responszone.photo.to_s, width: '100%' %></p>
            <div class="row">
              <div class="col-md-6">
              <p><%= image_tag responszone.photocni.to_s, width: '100%' %></p>
              </div>
              <div class="col-md-6">
                <p class="card-text" style=text-align:right; ><%= responszone.user.name %></p>
                <p class="card-text" style=text-align:right; ><%= responszone.country.name %></p>
                <p class="card-text" style=text-align:right; ><%= responszone.region.name + " (" + responszone.departement.name + " )" %></p>
              </div>
            </div>
            <!-- a href="#" class="btn btn-primary">Go somewhere</a -->
          </div>
          <div class="card-footer text-muted">
            <span style=>CiiLaaBokK</span>
            <span style=margin:auto; ><%= link_to 'Show'%></span>
            <span style=margin:auto;><%= link_to 'Edit', edit_responszone_path(responszone) %></span>
            <span style=margin:auto;><%= link_to 'Destroy', responszone, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %></span>
          </div>
        </div>
        <hr>
      <% end %>
    
  </div>
  <!-- ENDING THE OUVRIERS -->
    
         
  <%= link_to 'New Responszone', new_responszone_path %>
</div>