<div class="col-sm-8 blog-main">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Photocni:</strong>
    <%= image_tag @responszone.photocni.to_s, width: '30%' %>
  </p>

  <p>
    <strong>Photo : </strong>
    <%= image_tag @responszone.photo.to_s, width: '30%' %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @user_responszone.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user_responszone.email %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= @responszone.telephone %>
  </p>

  <p>
    <strong>Cni:</strong>
    <%= @responszone.cni %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @responszone.user.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= @responszone.country.name %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= @responszone.region.name %>
  </p>

  <p>
    <strong>Departement:</strong>
    <%= @responszone.departement.name %>
  </p>

  <%= link_to 'Edit', edit_responszone_path(@responszone) %> |
  <%= link_to 'Back', responszones_path %>
</div>