<br\><br\><br\>
<br>
<br>
<br><%= form_with(model: author, local: true) do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" style="display:none;">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, value: current_user.id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :telephone %>
    <%= form.number_field :telephone, class: 'form-control', placeholder: '777777777' %>
  </div>


  <div class="form-group">
    <%= form.label :etablissement_id %>
    <%= form.collection_select(:etablissement_id, Etablissement.all, :id, :name,
                              {
                                #selected: blog.topic_id,
                                include_blank: true
                              },
                              class: 'form-control'
                            ) 
  %>
  </div>


  <div class="form-group">
    <%= form.label :matiere_id %>
    <%= form.collection_select(:matiere_id, Matiere.all, :id, :name,
                              {
                                #selected: blog.topic_id,
                                include_blank: true
                              },
                              class: 'form-control'
                            ) 
  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
