<h1>Authors</h1><br\><br\><br\>
<br>
<br>
<br>
<div class="blog-main">
  <table class="row">
    <% @authors.each do |author| %>
      <div class="">
        <p>Telephone:<%= author.telephone %></p>
        <p>Nom Auteur: <%= author.user.name %></p>
        <p>Etablissement<%= author.etablissement.name %></p>
        <p>Matiere<%= author.matiere.name %></p>
        <p><%= link_to 'Show', author %>
        <%= link_to 'Edit', edit_author_path(author) %>
        <%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>


<br>

<%= link_to 'Ajouter Auteur', new_author_path %>

    <% end %>
</table>
</div>

