<p>
  <strong>Telephone:</strong>
  <%= @author.telephone %>
</p>
<p>
  <strong>User:</strong>
  <%= @author.user.name %>
  <%#= @author.user %>
</p>

<p>
  <strong>Etablissement:</strong>
  <%= @author.etablissement.name %>
</p>

<p>
  <strong>Matiere:</strong>
  <%= @author.matiere.name %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
