<div class="col-sm-8 blog-main">
  <%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :role %>
          <%= form.collection_select(:role, Profil.all, :name, :name,
          {
            include_blank: true
          },
          class:"form-control"
          ) %>
    </div>

    <div class="actions">
      <%= form.submit "Update Profil",class:"btn btn-primary"%>
    </div>
  <% end %>
</div>