<div class="col-sm-8 blog-main">

	<h1>USERS</h1>
	<p>*************************</p>
	<% @users.each do |user| %>
		<p>ID : <% user.id %></p>
		<p>NAME : <%= user.name %></p>
		<p>EMAIL : <%= user.email %></p>
		<p>ROLE : <%= user.role %></p>
		<p>DATE DE CREATION : <%= user.created_at %></p>
		<p>DATE DE MODIFICATION : <%= user.updated_at %></p>
		<% #if user.role != :site_admin %>
			<p>
				<%= link_to 'Edit', edit_user_path(user) %> 
			</p>
			<p>
				<%= link_to 'Definir responsable de zone', new_responszone_path(user)  %> |
			</p>
			<div class="actions">
			  <% #Change Form URL To new_responszone_path   %>
			  <%= form_for Responszone.new, url: responszone_user_id_responszones_path, method: :get do |form| %>
				  <%= form.text_field :user_responszone, value: user.id, style:"" %>
				  <%= form.submit "Définir Responsable", class:"form-control btn btn-primary col-md-3"%>
  			  <% end %>
			</div>
			
		<%# end %>
		<!--p>
			<%#if user.role === :user %>
				<%#= link_to 'Définir professeur', definir_profil_user_path(user) %>
				<%#end%>
				<span>||</span>
			<%#if user.role === :professeur %>
				<%#= link_to 'Définir user', definir_profil_user_path(user) %>
			<%#end%>
		</p -->
		<br>
		<p>*************************</p>
		<br>
	<% end %>
	

</div>