<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>role:</strong>
  <%= @user.role %>
</p>

<%= link_to 'Edit', edit_niveau_path(@niveau) %> |
<%= link_to 'Back', niveaus_path %>
