<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <% if logged_in?(:site_admin , :censeur, :proviseur, :principale) %>
  <%= render partial: 'blogs/admin_configuration' %>
  <% end %>
  <p></p>
  <div class="sidebar-module sidebar-module-inset">
    <h4><u>CLBK</u></h4>
    <p><b>Notice: </b><em>Apprendre n'est pas facile mais peut bien être simple</em>...</p>
  </div>

  <%= source_helper("alert alert-info blog-sidebar-source") %>
  
  <div class="sidebar-module">
    <h4>Niveau</h4>
    <% @side_bar_topics.each do |topic|%>
      <p><%= link_to 'les cours de '+ topic.title, topic_path(topic) %></p>
    <% end %>
  </div>
  <div class="sidebar-module">
    <h4></h4>
    <ol class="list-unstyled">
      <li><a href="#"><%= fa_icon "github 3x" %></a></li>
      <li><a href="#"><%= fa_icon "facebook 3x" %></a></li>
      <li><a href="https://twitter.com/home", target="_blanc"><%= fa_icon "twitter 3x" %></a></li>
      <li><a href="#"><%= fa_icon "instagram 3x" %></a></li>
    </ol>
  </div>
</div><!-- /.end sidebar -->