<div class="col-sm-3 offset-sm-8 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4><u>CLBK</u></h4>
  </div>

  <%= source_helper("alert alert-info blog-sidebar-source") %>
  
  <div class="sidebar-module">
    <h4>Paramétrage</h4>
    <%= link_to "Users", users_path()%>
    <%= link_to "ResponsZones", responszones_path()%>
    <%= link_to "Metiers", metiers_path()%>
    <%= link_to "Domaines", domaines_path()%>
    <%= link_to "Departments", departements_path()%>
    <%= link_to "Regions", regions_path()%>
    <%= link_to "Pays", countries_path()%>
    <%= link_to "Centres", centres_path()%>
    <p></p>
    <p>dipbnflòjokfn</p>
    <%# @side_bar_topics.each do |topic|%>
      <p><%#= link_to 'les cours de '+ topic.title, topic_path(topic) %></p>
    <%# end %>
  </div>
  <div class="sidebar-module">
    <h4></h4>
    <ol class="list-unstyled">
      <li><a href="#"><%= fa_icon "github 3x" %></a></li>
      <li><a href="#"><%= fa_icon "facebook 3x" %></a></li>
      <li><a href="https://twitter.com/home", target="_blanc"><%= fa_icon "twitter 3x" %></a></li>
      <li><a href="#"><%= fa_icon "instagram 3x" %></a></li>
    </ol>
  </div>
</div><!-- /.end sidebar -->