<div class="col-sm-8 blog-main">
  <%= form_with(model: ouvrier, local: true) do |form| %>
    <% if ouvrier.errors.any? %>
    <% ouvrier.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :photocni %>
      <%= form.file_field :photocni %>
    </div>

    <div class="form-group">
      <%= form.label :photo %>
      <%= form.file_field :photo %>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :Numro_CNI %>
        <%= form.text_field :numerocni, class:"form-control"%>
      </div>

      <div class="col-md-12">
      <div class="form-group">
        <%= form.label :Nom %>
        <%= form.text_field :name, class:"form-control"%>
      </div>

      <div class="form-group">
        <%= form.label :Prénom %>
        <%= form.text_field :prenom, class:"form-control"%>
      </div>

      <div class="form-group">
        <%= form.label :Téléphone %>
        <%= form.text_field :telephone, class:"form-control"%>
      </div>

      <div class="form-group">
        <%= form.label :Téléphone_2 %>
        <%= form.text_field :telephone2, class:"form-control"%>
      </div>

      <div class="form-group">
        <%= form.label :domaine_id %>
        <%= form.collection_select(:domaine_id, Domaine.all, :id, :name,
          {
            include_blank: true
          },
            onchange: 'getIDDomaine()',
            class: 'form-control'
        ) 
        %>
      </div>

      <div class="form-group metiers" data-metiers="<%= @metiers.to_json %>">
        <%= form.label :metier_id %>
        <%= form.collection_select(:metier_id, Metier.all, :id, :name,
            {
              include_blank: true
            },
            class: 'form-control'
          ) 
        %>
      </div>

      <div class="form-group">
        <%= form.label :region_id %>
        <%= form.collection_select(:region_id, @regions, :id, :name,
            {
              include_blank: true
            },
            onchange: 'getIDRegion()',
            class: 'form-control'
          ) 
        %>
      </div>

      <div class="form-group departements" data-departements="<%= @departements.to_json %>"">
        <%= form.label :Zone %>
        <%= form.collection_select(:departement_id, Departement.all, :id, :name,
            {
              include_blank: true
            },
            class: 'form-control'
          ) 
        %>
      </div>

      <div class="form-group">
        <%= form.label :Adresse %>
        <%= form.text_field :adresse, class:"form-control"%>
      </div>
  

      <div class="actions">
        <%= form.submit class:"form-control btn-primary" %>
      </div>
    <% end %>
    </div>

</div>