<div class="col-sm-12 blog-main" id="">
<h1>Ouvriers</h1>

<%= link_to 'New Ouvrier', new_ouvrier_path %>
<h2 style=color:red;><u>Liste des Ouvriers :</u></h2>  
<% @ouvriers.each do |ouvrier| %>
  <div class="card text-center">  
    <div class="card-header">
    Region/Departement
    </div>
    <div class="card-body">
      <h2 class="card-title">Special Domaine/Metier</h2>
      <div class="row">
        <div class="col-md-6">
          <p class="card-text" style=text-align:left; ><%= ouvrier.name + " " + ouvrier.prenom%></p>
          <p class="card-text" style=text-align:left; >Adresse :<%= "#" %></p>
        </div>
        <div class="col-md-6">
          <p class="card-text" style=text-align:right; >Téléphone 1 :+221 <%= ouvrier.telephone %></p>
          <p class="card-text" style=text-align:right; >Téléphone 2 :+221 <%= ouvrier.telephone %></p>
        </div>
      </div>
      <!-- a href="#" class="btn btn-primary">Go somewhere</a -->
    </div>
    <div class="card-footer text-muted">
      <span style=margin-right:12px; ><%= link_to 'Show', ouvrier %></span>
      <span style=margin-right:12px;><%= link_to 'Edit', edit_ouvrier_path(ouvrier) %></span>
      <span><%= link_to 'Destroy', ouvrier, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    </div>
  </div>
      <hr>
    <% end %>


<br>



</div>