<div class="col-sm-8 blog-main">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Photo:</strong>
    <%= image_tag @ouvrier.photo.to_s, width:'10%' %>
  </p>

  <p>
    <strong>Photo CNI:</strong>
    <%= image_tag @ouvrier.photocni.to_s, width:'10%' %>
  </p>
  
  <p>
    <strong>Numero CNI:</strong>
    <%= @ouvrier.numerocni %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @ouvrier.name %>
  </p>

  <p>
    <strong>Prenom:</strong>
    <%= @ouvrier.prenom %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= @ouvrier.telephone %>
  </p>

  <%= link_to 'Edit', edit_ouvrier_path(@ouvrier) %> |
  <%= link_to 'Back', ouvriers_path %>
</div>