<h1>Matieres</h1><br\><br\><br\>
<br>
<br>
<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Serie</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matieres.each do |matiere| %>
      <tr>
        <td><%= matiere.name %></td>
        <td><%= matiere.seri.name %></td>
        <td><%= link_to 'Show', matiere %></td>
        <td><%= link_to 'Edit', edit_matiere_path(matiere) %></td>
        <td><%= link_to 'Destroy', matiere, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Matiere', new_matiere_path %>
