<div class="col-sm-8 blog-main">
  
  <%= render @niveaus %>
  
    <% @niveaus.each do |niveau| %>
      
        <td><%= link_to 'Show', niveau if logged_in?(:site_admin) %></td>
        <td><%= link_to 'Edit', edit_niveau_path(niveau)  if logged_in?(:site_admin) %></td>
        <td><%= link_to 'Destroy', niveau, method: :delete, data: { confirm: 'Are you sure?' }  if logged_in?(:site_admin) %></td>
      
    <% end %>
 
<%= link_to 'New Niveau', new_niveau_path  if logged_in?(:site_admin)%>

</div>