<div class="col-sm-8 blog-main">
  <% @niveaus.each do |niveau| %>
    <% if logged_in?(:site_admin) %>

        <%= link_to 'Show', niveau %>
        <%= link_to 'Edit', edit_niveau_path(niveau)  %>
        <%= link_to 'Destroy', niveau, method: :delete, data: { confirm: 'Are you sure?' }  %>
      
    <% end %>
      <strong>
        <h1>
          <%= link_to niveau.name, niveau_path(niveau)%>
        </h1>
          <h4 style="margin-left:50px;"><%= "( " + niveau.abbrege + " )" %></h4>
      </strong>
  <% end %>
<%= link_to 'New Niveau', new_niveau_path, class:"btn btn-primary" if logged_in?(:site_admin)%>
 

</div>

